.container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    min-height: 100%;
    margin: 0 auto -140px;
}

.content-right {
    float: left;
    width: 45%;
}

.content-left {
    float: left;
    width: 40%;
    height: auto;
    min-height: 100%;
    padding-left: 10%;
}

.content-left-wraper {
    width: 80%;
}

.content-left span {
    display: block;
    color: #FFF;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 400;
}

.logo {
    background-image: url('../images/logo.png');
    width: 107px;
    height: 104px;
    text-indent: -9999px;
    margin-top: 10px;
    margin-bottom: 40px;
}

span.logo-span1 {
    font-weight: 600;
}

span.logo-span2 {
    font-size: 1em;
    border-bottom: 1px solid #FFF;
    padding-bottom: 5px;
}

.content-left p {
    text-align: justify;
    color: #FFF;
    font-size: .8em;
    float: left;
    line-height: 20px;
}

.arrow {
    width: 33px;
    height: 76px;
    float: left;
    margin-left: 20px;
    padding-top: 13px;
}

.content-left a {
    float: left;
    margin-top: 20px;
}

.content-left a img {
    width: 130px;
}

.ios a {
    margin-right: 45px;
}

.phone img {
    position: absolute;
    width: 695px;
    top: 40px;
}